.prdt-card{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 15%;
    height: 110%;
    min-width: 200px;
    max-height: 300px;
    border-radius: 0px;
}
.prdt-card:hover{
    height: 150%;
    margin-top: -1%;
    margin-left: 0px;
    margin-right: 0px;
    width: 17.5%;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.prdt-img{
    width: 100%;
    height: 75%;
    border-radius: 0px 0px 0px 0px;
}
.prdt-name{
    font-size: 125%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
}
.prdt-price{
    width: 50%;
    font-size: 100%;
    padding-left: 5%;
    padding-top: 5px;
}
.prdt-btns{
    display: flex;
    width: 100%;
}
.prdt-btns button{
    width: 50%;
    /* height: 3em; */
    background-color:white;
    color: black;
    border: 0px;
    font-size: 90%;
    /* border-radius: 20px; */
}
.prdt-btns button:hover{
    background-color: royalblue;
    color:white;

}
.card-dtls{
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    height: 20%;
}
