.search_header {
    max-width: 100%;
    height: auto;
    /* padding: 10% 3%; */
    padding-top: 5%;
    padding-bottom: 0%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    background: linear-gradient(180deg, #0A3F4D 0%, #0F343E 81.77%, #0B242B 100%);;
    overflow: auto;
    box-shadow: 0px 10px 10px -10px grey;
}
.searchform{
    margin-top: 6%;
    margin-bottom: 5%;
}
.div-second-div{
    display:inline-block;
    width:100%;
}
.brand {
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tag {
    text-align: center;
    color: royalblue;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5%;
}

.second-div {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    width:50%;
    margin-left: 0%;
}

.city {
    background-color: whitesmoke;
    color: black;
    padding: 1%;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}


.item {
    background-color: whitesmoke;
    color: black;
    padding: 1%;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
    box-sizing: border-box;
}


.search {
    position: absolute;
    right: 5%;
    width: 30%;
    padding-top: 0.5%;
    padding-bottom: 0.25%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    background-color: whitesmoke;
    border-radius: 10px;
    /* border: 1.5px solid black; */
    outline: none;
    box-shadow: inset 0px 0px 5px 0px black;
    box-shadow: 0px 0px 5px 0px black;
    box-sizing: border-box;
}
.search:focus{
    box-shadow: 0px 0px 8px 0px darkgray;
}

.third-div {
    display: inline-block;
    width: 80%;
    height: auto;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.detectButton {
    background-color: orange;
    color: black;
    width: 20%;
    position: absolute;
    padding: 1% 0%;
    border: none;
    outline:none;
    border: 1px solid orange;
    border-radius:10px;
    box-shadow: 5px 5px 10px 0px darkblue;
}

.submitButton {
    background-color: orange;
    color: black;
    width: 20%;
    position: absolute;
    right: 10%;
    padding: 1% 0%;
    border: 1px solid orange;
    border-radius:10px;
    outline:none;
    box-shadow: 5px 5px 10px 0px darkblue;
}

.detectButton:hover {
    background-color: red;
    color: white;
    border:1px solid red;
}

.submitButton:hover {
    background-color: red;
    color: white;
    border:1px solid red;
}

.show_cards{
    display: flex;
    flex-wrap: wrap;
    background: white;
    /* width: 90%; */
    margin-left: 7.5%;
    margin-right: 7.5%;
    border: 1px solid black;
    /* box-shadow: 0px 0px 20px -10px gray; */
}
.simple-text{
    font-size: 300%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    background: #eee;
}
.show_cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
div.shop-card{
    margin-left:auto;
    margin-right:auto;
}
.sidebar{
    display:flex;
    justify-content: flex-end;
    background-color:#0a3f4d;
}
.logo {
    height: 500px;
    width: 800px;
    margin-left: 0%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.scroll-Down{
    font-size: 48px;
    color: black;
    margin-top: 5%;
    margin-bottom: 0%;
}
.scroll-Down-Arrow{
    width: 5%;
}
.sidenav {
    height: 100%;
    width: 0;
    /* width:140px; */
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    text-align:right;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    font-size: 36px;
  }
.threeBtnicon{
    color:white;
    font-size: 36px;
    padding-right: 10px;
}
.threeBtnicon:hover{
    cursor: pointer;
}
@media only screen and (max-width : 1250px)
{
    .show_cards{
        grid-template-columns: 1fr 1fr 1fr ;
    } 
    .logo{
        width:50%;
        height: initial;
        margin-left: 25%;
        margin-right: 25%;
    }
}
@media only screen and (max-width : 920px)
{
    .show_cards{
        grid-template-columns: 1fr 1fr  ;
    }
    .logo{
        width:100%;
        height: initial;
        margin: initial;
    }
}
@media only screen and (max-width : 620px)
{
    .show_cards{
        grid-template-columns: 1fr  ;
    }
}
@media only screen and (max-width : 450px)
{
    /* .complete-div{
        display:flex;
    }
    .search{
        position:relative;
        margin-left: 10%;
        margin-top: 10px;
        width: 80%;
    }
    .second-div{
        flex-grow:1;
        margin:auto;
    }
    .third-div{
        flex-grow:1;
        margin:auto;
        display:flex;
        flex-direction:column;
        width:auto;
    }
    .second-div{
        display:flex;
        flex-direction:column;
    }
    .detectButton{
        position:relative;
        width:auto;
        margin-bottom: 10px;
    }
    .submitButton{
        position:relative;
        width:auto;
        margin-left: 10%;
    } */
    .logo{
        width:100%;
        height: initial;
    }
}
