div.card{
    width:18rem;
    margin:4rem 6rem 2rem 6rem;
}
.flex-item{
    flex-grow: 1;
}
.flex-item-last2{
    flex-grow:1;
    margin-right:18rem;
    margin-left:5rem;
}
.main-div{
    width:100%;
}
.aside{
    margin-right:3rem;
    width:200px;
}