.product {
    background: whitesmoke;
    max-width: 100%;
    height: auto;
}

.Shop_Header {
    max-height: max-content;
    background-color: #1E90FF;
    padding: 2% 1%;
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}

.prdt_img {
    border: 0px solid black;
    width: 25%;
    height: 15%;
    margin-left: 15%;
    transition: width 0.5s, height 0.5s;
    transition-timing-function: linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prdt_img:hover {
    width: 30%;
    height: 20%;
}

.prdt_img_detail {
    margin-top: 5%;
    display: flex;
}

.prdt_sum {
    margin-left: 10%;
    width: 30%;
}

#prdt_name {
    color: royalblue;
}

#prdt_price {
    color: orangered;
}

.product-details{
    /*  */
    width: 50%;
    min-width: 100px;
    margin-top: 5%;
}

.product-table{
    width: 50%;
    margin: auto;
    background-color: #157adf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title{
    text-align: center;
}
td{
    padding: 5% 5% 5% 5%;
    text-align: center;
    color: white;
    width: 50%;
    border-bottom: 1px solid #ddd;
}

.shop-details {
    margin-top: 5%;    
    width: 50%;
    min-width: 100px;
}

.shop-table {
    width: 50%;
    margin: auto;
    background-color: #157adf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dtls{
    display: flex;
}

@media only screen and (max-width : 450px)
{
    *{
        box-sizing: border-box;
    }

    .prdt_img {
        border: 0px solid black;
        width: 100%;
        height: auto;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .prdt_img:hover{
        width: 100%;
    }
    .prdt_img_detail {
        margin-top: 5%;
        display: block;
        max-width: 60%;
        height: auto;
        margin: auto;
    }
    .prdt_sum {
        margin-top: 15%;
        margin-left: 10%;
        width: 60%;
    }

    .dtls{
        display: block;
    }

    .product-table{
        width: 80%;
        margin-left: 15%;
        background-color: #157adf;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .shop-table{
        width: 80%;
        margin-left: 15%;
        background-color: #157adf;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    td{
        padding: 5% 5% 5% 5%;
        text-align: center;
        color: white;
        width: 50%;
        border-bottom: 1px solid #ddd;
    }

    .product-details{
        width: 70%;
        min-width: 100px;
        margin: auto;
    }
    
    .shop-details {
        margin: auto;    
        width: 70%;
        min-width: 100px;
    }

    .title{
        margin-top:5%;
        text-align: center;
    }
}