.prdt-btns{
    margin: 5px;
    width: fit-content;
}
.prdt-card{
    box-sizing: border-box;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    border-radius: 20px;
    margin-bottom: 20px;
}
.prdt-img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.prdt-name{
}
.prdt-price{
}
.prdt-btns{
    width: fit-content;
    border: 0px;
    border-radius: 8px;
}
.prdt-btns:hover{
    background-color: royalblue;
    color:white;
}
.card-dtls{
    border-radius: 0px 0px 20px 20px;
    background-color: white;
}