.searchSection{
    height: 5%;
    background-color: #0a3f4d;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:2%;
    padding-right: 2%;
    display: flex;
    width: 100%;
}
.header_logo{
    height: 100px;
    width: 160px
}
.header_search_form{
    width: 70%;
    padding-top: 1.5%;
    padding-left: 2%;
}

div.card{
    width:20%;
    height:40%;
    margin:10% 20%;
    background-color: royalblue;
    border-style: groove;
    border-width: medium;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.res-cards{
    display: flex;
    flex-wrap: wrap;
}
div.d-flex{
    /* justify-content: center; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top:20px solid white;
}
.card-title{
    color: whitesmoke;
}
.card-caption{
    color: gold;
}
.card-text{
    color: white;
}

button.btn-tag{
    background-color: rgb(35, 76, 199);
    margin-left: 10%;
    margin-right: 10%;
}
.flex-item{
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 5%;
}
.flex-item-last2{
    flex-grow:1;
    margin-right:5%;
    margin-left:10%;
}
.main-div{
    width:80%;
    background-color:rgba(238, 238, 238, 0.8);
}
.side-nav{
    width:400px;
    background-color: rgb(243, 91, 116);
}
.side-nav>h1{
    color: ghostwhite;
    text-align: center;
}

.side-nav>ul {
    list-style-type: none;
    margin-left: 10%;
    margin-top: 10;
    width: 200px;
}

.side-nav>ul>li a {
    display: block;
    color: ghostwhite;
    padding: 10% 8%;
    text-decoration: none;
    
}

.side-nav>ul>li a:hover {
    background-color:ghostwhite;
    color: rgb(243, 91, 116);
}
.aside{
    width:20%;
    background-color: rgba(238, 238, 238, 0.8);
    border-right:20px solid white;
}

.srch-prdt-button{
    width: 20%;
    height: 80px;
    font-size: 30px;
    background-color: white;
    border: 0px solid;
}
.srch-prdt-button:hover {
    border-bottom: 2px solid #0a3f4d;
    color:#0a3f4d;
    font-size: 225%;
    padding-bottom: 1%;
}
.d-flex-div{
    width:100% !important;
    margin-left:2%;
}
.aside-h2{
    margin-left:2%;
}
@media only screen and (max-width: 1725px)
{
    .aside{
        width:30%;
    }
}
@media only screen and (max-width: 1690px)
{
    .aside{
        width:20%;
    }
}  
@media only screen and (max-width: 1000px)
{
    .aside{
        width:40%;
    }
} 

